<mat-card>
    <mat-card-title>
        <span color="primary"  class="{{mode == 1 ? 'icon-plus' : 'icon-pencil'}}"> {{mode == 1 ? 'Nowe urządzenie' : 'Edytuj'}}</span>
   </mat-card-title>
   <mat-card-content class="m-4">
    <mat-checkbox style="width: 100%;" class="my-3" color="primary" [(ngModel)]="device.active">Aktywny</mat-checkbox>

    <mat-form-field class="edit-field" appearance="fill">
        <mat-label>Nawa</mat-label>
        <input matInput  [(ngModel)]="device.name">
    </mat-form-field> 
    <mat-form-field class="edit-field" appearance="fill">
        <mat-label>Adres IP</mat-label>
        <input matInput  [(ngModel)]="device.ip">
    </mat-form-field>
    <mat-form-field class="edit-field" appearance="fill">
        <mat-label>Grupa subskrypcji</mat-label>
        <mat-select [(value)]="selectedGroup" (valueChange)="onGroupSelect()">
          <mat-option [value]="emptySubscriptionGroup">{{emptySubscriptionGroup.name}}</mat-option>
          <mat-option *ngFor="let sg of subscriptionGroups" [value]="sg">{{sg.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
        <button  mat-button color="primary"  (click)="saveEmitter.emit(device);"><span class="icon-floppy">Zapisz</span></button>
        <button  mat-button color="warn" (click)="cancelEmitter.emit();"><span class="icon-cancel" >Anuluj</span></button>
    </mat-card-actions>
</mat-card>
