<mat-card class="">
    <mat-card-title>
        <div class="d-flex">
            <mat-icon class="me-1" *ngIf="mode == 1">add icon</mat-icon>
            <mat-icon class="me-1" *ngIf="mode != 1">edit</mat-icon>
            <span>{{mode == 1 ? 'Nowe urządzenie' : 'Edytuj'}}</span>
        </div>
   </mat-card-title>
   <mat-card-content class="m-4">
    <mat-slide-toggle style="width: 100%;" class="my-3" color="primary" [(ngModel)]="device.active">Aktywny</mat-slide-toggle>

    <mat-form-field class="edit-field" appearance="fill">
        <mat-label>Nawa</mat-label>
        <input matInput  [(ngModel)]="device.name">
    </mat-form-field> 
    <mat-form-field class="edit-field" appearance="fill">
        <mat-label>Adres IP</mat-label>
        <input matInput  [(ngModel)]="device.ip">
    </mat-form-field>
    <mat-form-field class="edit-field" appearance="fill">
        <mat-label>Grupa subskrypcji</mat-label>
        <mat-select [(value)]="selectedGroup" (valueChange)="onGroupSelect()">
          <mat-option [value]="emptySubscriptionGroup">{{emptySubscriptionGroup.name}}</mat-option>
          <mat-option *ngFor="let sg of subscriptionGroups" [value]="sg">{{sg.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
        <button  mat-button color="primary"  (click)="saveEmitter.emit(device);"><mat-icon class="me-1">save</mat-icon> <span>Zapisz</span></button>
        <button  mat-button color="warn" (click)="cancelEmitter.emit();"><mat-icon class="me-1">close</mat-icon><span>Anuluj</span></button>
    </mat-card-actions>
</mat-card>
