<mat-card>
    <mat-card-title>
        <span color="primary"  class="{{mode == 1 ? 'icon-plus' : 'icon-pencil'}}"> {{mode == 1 ? 'Nowe urządzenie' : 'Edytuj'}}</span>
   </mat-card-title>
   <mat-card-content class="m-4">
    <mat-checkbox class="my-3" color="primary" [(ngModel)]="device.active">Aktywny</mat-checkbox>

    <mat-form-field class="edit-field" appearance="fill">
        <mat-label>Nawa</mat-label>
        <input matInput  [(ngModel)]="device.name">
    </mat-form-field> 
    <mat-form-field class="edit-field" appearance="fill">
        <mat-label>Adres IP</mat-label>
        <input matInput  [(ngModel)]="device.ip">
    </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
        <button  mat-button color="primary"><span class="icon-floppy" (click)="saveEmit()">Zapisz</span></button>
        <button  mat-button color="warn"><span class="icon-cancel" (click)="cancelEmit()">Anuluj</span></button>
    </mat-card-actions>
</mat-card>
