.status-error{
    animation: text-blink-animation 1s infinite;
}

@keyframes text-blink-animation {
    
    0%{
        
        color: white;
    }
    50%{
        color: red;
        
    }
    
}
.toolbar-button{
    font-weight:lighter;
    color: lightgray;
}
.toolbar-button:hover{
    color: white;
}
.toolbar-title{
    display: flex;
    align-items: center;
}