.status-error{
    animation: text-blink-animation 1s infinite;
}

@keyframes text-blink-animation {
    
    0%{
        
        color: white;
    }
    50%{
        color: red;
        
    }
    
}
.toolbar-button{
    font-family: 'Lato' !important;
    letter-spacing: 0.12em;

}

.title-icon{
    background-color: #00799b;
    border-radius: 50%;
}
.toolbar-title{
    display: flex;
    align-items: center;
    /* background-color: rgba(137, 43, 226, 0.356);
    border: 1px solid rgba(211, 211, 211, 0.315); */
}
.devices-panel{
    max-height: calc(100vh-100px);
    overflow: auto;
}