<p>
    <mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setNewMode()">
          <mat-icon>add icon</mat-icon>
          <span>Dodaj urządzenie</span>
        </button>

        <button mat-menu-item  (click)="setSubscriptionsMode()">
            <mat-icon>speaker_notes</mat-icon>
            <span>Subskrypcje</span>
        </button>

        <button mat-menu-item  (click)="setHistoryMode()">
            <mat-icon>history</mat-icon>
            <span>Historia</span>
        </button>
    </mat-menu>
    <span>Monitor</span>
    <span style="flex: 1 1 auto;"></span>
    <div style="font-size: 16px;" class="me-4 icon-bell {{alerting ? 'status-error' : ''}}">
        Aktywne alarmy
        <span style="font-size: 14px !important; font-weight: normal !important;" class="badge rounded-pill {{alertCount<1 ? 'bg-success' : 'bg-danger '}} ms-2">
          {{alertCount}}
          <span class="visually-hidden">unread messages</span>
        </span>
    </div>
  </mat-toolbar>
</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <ul>
                <li *ngFor="let d of devices" style="list-style:none;" class="my-1">
                    <app-device-panel [device]="d" 
                    (editEmitter)="setEditMode($event)" 
                    (removeEmitter)="remove($event)" 
                    (showHistoryEmitter)="showHistoryOfDevice($event)"
                    (setSilencedEmitter)="setSilenced($event)">
                </app-device-panel>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <app-device-edit-panel *ngIf="mode>0 && mode<3" 
                [mode]="mode" 
                [device]="editedDevice" 
                [subscriptionGroups]="subscriptionGroups" 
                (cancelEmitter)="setHistoryMode()" 
                (saveEmitter)="save($event)">
            </app-device-edit-panel>
            <app-subscription-panel *ngIf="mode==3"  [subscriptionGroups]="subscriptionGroups " [subscriptions]="viewedSubscriptions"
             (closeEmitter)="setHistoryMode()"
             (refreshGroup)="refreshSubscriptionGroup()"
             (refreshEmailSubs)="refreshEmailSubs($event)"
             (addSubscriptionEmitter)="openEmailSubDialog($event)"
             (removeSubscriptionEmitter)="removeEmailSubscription($event)"
             (editSubscriptionEmitter)="editEmailSubscription($event)"
             (sendMailEmitter)="sendTestMail($event)"
             (addGroup)="openGroupDialog()"
             ></app-subscription-panel>
             <app-history-panel *ngIf="mode==4"
             [data]="viewedEvents"
             [viewedDevice]="viewedDevice"
             (showAllEmitter)="showHistory()"></app-history-panel>
        </div>
        
    </div>
</div>
