<mat-card>
    <mat-card-title color="primary">
        <mat-icon class="me-2">speaker_notes</mat-icon>
        Subskrypcje
   </mat-card-title>
   <mat-card-content>
        <mat-tab-group>
            <mat-tab label="E-mail">
                <div class="m-3">
                    <mat-form-field class="my-2" appearance="fill">
                        <mat-label>Grupa</mat-label>
                        <mat-select [(value)]="selGroup" (valueChange)="onGroupSelect()">
                          <mat-option *ngFor="let sg of subscriptionGroups" [value]="sg">{{sg.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button (click)="addGroup.emit()" color="primary" class="float-end my-2"  mat-button> <mat-icon class="me-1">group_add</mat-icon>  <span>Dodaj grupę</span></button>
                </div>               
               <mat-table [dataSource]="subscriptions" class="mat-elevation-z8 mx-3">
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> Nazwa </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>
              
                <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="options">
                    <mat-header-cell *matHeaderCellDef> Opcje </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <button mat-icon-button color="warn" (click)="removeSubscriptionEmitter.emit(element)"><mat-icon class="me-1">delete</mat-icon></button>
                        <button mat-icon-button color="primary" (click)="editSubscriptionEmitter.emit(element)"><mat-icon class="me-1">edit</mat-icon></button>
                        <button mat-icon-button color="primary" (click)="sendMailEmitter.emit(element.email)"><mat-icon class="me-1">send</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="['name', 'email', 'options']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['name', 'email', 'options'];"></mat-row>
              </mat-table>
               <button (click)="addSubscription(selGroup.id)" class="float-end my-3"  mat-button color="primary"><mat-icon class="me-1">add</mat-icon><span>Dodaj subskrypcję</span></button>
 
            </mat-tab>
            <mat-tab label="SMS"> Content 2 </mat-tab>
        </mat-tab-group>
   </mat-card-content>
   <mat-card-actions align="end">
     <button  mat-button color="warn" (click)="closeEmitter.emit()"><span class="icon-cancel" >Zamknij</span></button>
 </mat-card-actions>
</mat-card>