<div style="width: 400px;">
  <h2 mat-dialog-title>MONITOR URZĄDZEŃ</h2>
  <mat-dialog-content>
    <div class="container-fluid">
      <div class="row">
        <label class="col-6">API version: </label>
        <span class="col-6">{{apiVersion}}</span>
      </div>
      <div class="row my-2">
        <label class="col-6">Application version: </label>
        <span class="col-6">{{appVersion}}</span>
      </div>
      <div class="row">
        <label class="col-6">Autor: </label>
        <span class="col-6">{{autor}}</span>
      </div>
    </div>
  
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Zamknij</button>
  </mat-dialog-actions>
</div>

