
.device-card{
    border: 2px solid transparent;


}
.device-inactive{
    background-color: #303030;
}
.status-ok{
    border: 2px solid green;
}
.status-error{
    animation: blink-animation 1s infinite;
}
.status-silenced{
    border: 2px solid red;
}

@keyframes blink-animation {
    
    0%{
        border: 2px solid transparent;
        background-color: #393939;
    }
    50%{
        border: 2px solid red;
        background-color: #393939;
    }
    
}

  .silence-btn{
    border: none;
    color: gray;
  }

  .silence-active-btn{
    border: none;
    color: #00c9ff;
  }