/* You can add global styles to this file, and also import other style files */

/* @import url(theme-dark.css); */
@import 'assets/scss/modules/_fonts.scss';

html, body { height: 100%; }
body { 
    margin: 0; 
    /* font-family: Roboto, "Helvetica Neue", sans-serif;  */
    font-family: 'Lato'  !important;
    background-color: #292929;
    
}
button{
    font-family: 'Lato'  !important;

}
h2{
    font-family: 'Lato' !important;
}
.text-ok{
    color: green;
}
.text-error{
    color: red;
    
}

.shadowed{
    -webkit-box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
}

::-webkit-scrollbar {
    padding: 10px !important;
    width: 16px;
    
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(50, 50, 50); 
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(100, 100, 100); 
}