<p>
    <mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setNewMode()">
          <mat-icon>add icon</mat-icon>
          <span>Dodaj urządzenie</span>
        </button>
        
    </mat-menu>
    <span>Monitor</span>
    <span style="flex: 1 1 auto;"></span>
    <div style="font-size: 16px;" class="me-4 icon-bell">
        Aktywne alarmy
        <span style="font-size: 14px !important; font-weight: normal !important;" class="badge rounded-pill bg-success ms-2">
          0
          <span class="visually-hidden">unread messages</span>
        </span>
    </div>
  </mat-toolbar>
</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <ul>
                <li *ngFor="let d of devices" style="list-style:none;" class="my-1">
                    <app-device-panel [device]="d" (editEmitter)="setEditMode($event)" (removeEmitter)="remove($event)"></app-device-panel>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <app-device-edit-panel *ngIf="mode>0" [mode]="mode" [device]="editedDevice" (cancelEmitter)="setNoneMode()" (saveEmitter)="save($event)"></app-device-edit-panel>
        </div>
        
    </div>
</div>
