.device-card{
    border: 2px solid transparent;

}
.device-inactive{
    background-color: lightgray;
}
.status-ok{
    border: 2px solid green;
}
.status-error{
    animation: blink-animation 1s infinite;
}
.status-silenced{
    border: 2px solid red;
}

@keyframes blink-animation {
    
    0%{
        border: 2px solid transparent;
        background-color: white;
    }
    50%{
        border: 2px solid red;
        background-color: rgb(255, 230, 230);
    }
    
  }

  .silence-btn{
    border: none;
    color: gray;
  }

  .silence-active-btn{
    border: none;
    color: rgb(0, 150, 255);
  }