<mat-card class="device-card {{device.state==0 ? '' : 'status-error'}}" style="max-width: 600px;">
     <mat-card-title>
          {{device.name}}
     </mat-card-title>

     <mat-card-subtitle>
          {{device.ip}}
     </mat-card-subtitle>

     <mat-card-content class="d-flex py-2">
          <p class="my-2 me-4 {{device.state==0 ? 'icon-ok text-ok' : device.state<0 ? 'icon-unlink text-error' : 'icon-bell text-error'}} "> {{device.state==0 ? 'OK' : device.state<0 ? 'BRAK KOMUNIKACJI' : 'ALARM'}}</p>
          <p *ngIf="device.state>=0"  class="my-2 me-2"> Wystąpienia alarmu: {{device.counter}}</p>
          <button *ngIf="device.state>=0" mat-button>Zeruj</button>
     </mat-card-content>
     <mat-card-actions align="end">
          <button  mat-button><span class="icon-clock" >Historia</span></button>
          <button  mat-button color="primary" (click)="editEmit()"><span class="icon-pencil" >Edytuj</span></button>
          <button  mat-button color="warn"><span class="icon-trash-empty" >Usuń</span></button>
     </mat-card-actions>
</mat-card>